services:
  mongo1:
    image: mongo:latest
    container_name: mongo1
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db
    networks:
      mongo-network:
        aliases:
          - mongo1
    command: mongod --replSet rs0 --bind_ip 0.0.0.0
    healthcheck:
      test: mongosh --eval 'db.runCommand("ping").ok' || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  mongo2:
    image: mongo:latest
    container_name: mongo2
    ports:
      - "27018:27017"
    volumes:
      - mongo2_data:/data/db
    networks:
      mongo-network:
        aliases:
          - mongo2
    command: mongod --replSet rs0 --bind_ip 0.0.0.0
    depends_on:
      mongo1:
        condition: service_healthy
    healthcheck:
      test: mongosh --eval 'db.runCommand("ping").ok' || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  mongo3:
    image: mongo:latest
    container_name: mongo3
    ports:
      - "27019:27017"
    volumes:
      - mongo3_data:/data/db
    networks:
      mongo-network:
        aliases:
          - mongo3
    command: mongod --replSet rs0 --bind_ip 0.0.0.0
    depends_on:
      mongo1:
        condition: service_healthy
    healthcheck:
      test: mongosh --eval 'db.runCommand("ping").ok' || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  mongo-init:
    image: mongo:latest
    container_name: mongo-init
    networks:
      - mongo-network
    depends_on:
      mongo1:
        condition: service_healthy
      mongo2:
        condition: service_healthy
      mongo3:
        condition: service_healthy
    entrypoint: >
      mongosh
      --host mongo1:27017
      --eval
      "rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'mongo1:27017'}, {_id: 1, host: 'mongo2:27017'}, {_id: 2, host: 'mongo3:27017'}]})"

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo1,mongo2,mongo3
      ME_CONFIG_MONGODB_URL: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
      ME_CONFIG_BASICAUTH_ENABLED: false
    networks:
      - mongo-network
    depends_on:
      mongo-init:
        condition: service_completed_successfully


volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:

networks:
  mongo-network:
    driver: bridge
